<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body class="container bg-gray-900 text-white">
    <div class="p-4">
      <div class="mb-4">
        <h1 class="text-2xl font-bold">Walte</h1>
        <div class="flex space-x-4 mt-2">
          <div class="flex items-center space-x-1">
            <span class="text-blue-500">Transactions</span>
            <span class="bg-blue-500 text-white rounded-full px-2">5</span>
          </div>
        </div>
      </div>
      <div class="bg-gray-800 p-4 rounded-lg mb-4">
        <div class="flex justify-between mb-2">
          <div>
            <span class="text-gray-400 text-sm">Total Amount</span>
            <div class="text-xl font-semibold"> {{ wallets.amount }} </div>
          </div>
        </div>
      </div>


{% for transaction  in transactions %}
<div class="bg-gray-800 p-4 rounded-lg mb-4">
  <div class="flex justify-between items-center mb-2">
    <div class="text-sm text-gray-400">Date: {{transaction.created_at}} </div>
    <div class="text-green-500 text-sm">Completed</div>
  </div>
  <div class="flex justify-between items-center mb-2">
    <div class="text-lg font-semibold">Transaction ID: {{transaction.transaction_id}} </div>
    <div class="text-lg font-semibold">Transaction Amount: {{transaction.amount}} </div>

  </div>
</div>
{% endfor %}

    </div>
    <div
      class="fixed bottom-0 left-0 right-0 bg-gray-800 p-4 flex justify-around items-center"
    >
      <div class="flex flex-col items-center">
        <i class="fas fa-tasks text-white"></i>
        <span class="text-sm text-white">Transactions</span>
      </div>
      <div class="flex flex-col items-center">
        <i class="fas fa-calendar-alt text-white"></i>
        <span class="text-sm text-white">Calendar</span>
      </div>
      <div class="flex flex-col items-center">
        <i class="fas fa-chart-line text-blue-500"></i>
        <span class="text-sm text-blue-500">Progress</span>
      </div>
      <div class="flex flex-col items-center">
        <i class="fas fa-cog text-white"></i>
        <span class="text-sm text-white">Settings</span>
      </div>
      <div class="flex flex-col items-center">
        <i class="fas fa-user text-white"></i>
        <span class="text-sm text-white">Profile</span>
      </div>
    </div>
  </body>
</html>